doctype html
html
    head
        block head
            meta(charset="utf-8")
            meta(name="viewport", content="width=device-width")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="x-apple-disable-message-reformatting")
            link(rel="stylesheet", href="style.css", data-inline)
    body
        div(style="width:600px; margin: 0 auto")
            div
                p Dear #{user.forename}
                p You have been invited to create an echoing.io call recording system account.
                p If you would like to accept this invite please click the below link to finish creating your user:
                p
                    a(href="#{links.confirm}") #{links.confirm}
                p(style="text-align: center") Powered By a(href="http://wingnut.xyz") echoing.io
